@charset "utf-8";
/*  -----------------The Body, Html, some text -------------------------	*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    scroll-behavior: smooth;
}

html{
	scroll-behavior: smooth;
}
body, html {
  height: 100%; 
  margin:0;padding:0;border:0;
  background-color: #242424;
  color: white;
}

body {
  min-width: 100vw;
  min-height:100vh;
  display: flex;
  flex-flow: column;
  font-family: 'Crimson Text', serif;
}

body > div {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

#main {
  flex-grow: 1;
}


