@charset "utf-8";

body, html {
  height: 100%;
background-image: url("images/background.png") ;
scroll-behavior: smooth;
}

h1,h2,h3 {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
}
h1 {
	text-align: center;
	color: black;
}

p,a {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
}

/*                 							The Parallax image 										*/

.parallax {
  /* The image used */
  background-image: url("images/bg2.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*                 							The sidebar menu 										*/
.sidebar {
    height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The navigation menu links */
.sidebar a, .sidebar img {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  display: block;
  height: auto;
  width: 55%;
}


/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar a{
	color: rgba(219,104,36,1.00);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}

#about,#education,#skills,#contact {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

 
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
